# Python bytecode
**/__pycache__/
*.py[cod]

# Database DuckDB
*.duckdb
*.duckdb.*
duckdb.exe

# Ambiente e variabili
.env
.venv/

# Prefect
.prefect/

# Dati pesanti (Parquet nel Lake)
data/lake/
*.parquet

# File di log o temporanei
*.log