# Python bytecode
**/__pycache__/
*.py[cod]

# Database DuckDB
*.duckdb
*.duckdb.*
duckdb.exe

# Ambiente e variabili
.env
.venv/

# Prefect
.prefect/

# Dati pesanti
data/lake/bronze/
data/lake/silver/

# Eccezione per permettere l'invio dei file della landing zone
!data/lake/bronze/landing_zone/*.parquet

# File di log o temporanei
*.log