name: Olist Daily Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-etl:
    runs-on: ubuntu-latest
    env:
      GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Recupera tutta la cronologia per evitare conflitti

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pandas pyarrow fastparquet duckdb google-genai python-dotenv

      - name: Run Incremental Ingestion (Bronze to Silver)
        run: |
          # Ci assicuriamo che le cartelle esistano
          mkdir -p data/lake/silver
          python etl/tasks/bronze_incremental.py

      - name: Run Star Schema Transformation (Silver to Gold)
        run: python etl/tasks/silver_to_gold.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          
          git add -f data/lake/silver/*.parquet
          git add -f data/lake/gold/*.parquet
          git add -f data/lake/bronze/landing_zone/*.parquet
          
          git commit -m "auto: update data layers including september [skip ci]" || echo "No changes to commit"
          git push origin main